*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
   background-color: rgb(138, 86, 97);
   
}

header{
    background-color: aliceblue;
    display: flex;      
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 16px;
}

nav{
    display: flex;
    
}

img{
    /* height: 50px; */
    width: 50px;
}

.menu{
    display: flex;
    text-decoration: none;
    padding-top: 5px;
}

nav ul li{
    padding-left: 20px;
    list-style-type: none;   
}

nav ul li a{
    text-decoration: none;   
}

main{
    margin: 5px;
    
}

h1{
    color: rgb(27, 27, 102);
}
.div1{
    background-color: aquamarine;
    width: 500px;
    height:250px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 25px;
    margin-top: 10px;
}

.div2{
    background-color: aquamarine;
    width:500px;
    height:250px;
    padding: 5px;
    border-radius: 25px;
    margin-top: 10px;
}

.div3{
    background-color: aquamarine;
    width:500px;
    height:100px;
    padding: 5px;
    border-radius: 25px;
    margin-top: 10px;
}

a{
    text-decoration: none;
}

.section1{
    display: flex;
    margin-bottom: 20px;
}


footer{
    background-color: aliceblue;
    display: flex;      
    justify-content: left;
    padding: 10px;
    margin-bottom: 16px;
}

.rede-social{
    display: flex;
}
footer ul {
    list-style: none;
}
 ul li a {
    text-decoration: none;
}

